<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.phonegap.helloworld" version="1.0.0">

<name>Hello World</name>

<description>A sample PhoneGap application.</description>

<author email="support@phonegap.com" href="http://phonegap.com"> Lorena Ramirez</author>

<content src="index.html"/>

<access origin="*"/>

<platform name="android">
<!-- a preference specific to android only here -->
</platform>
<icon src="res/ios/icon.png" platform="ios" width="57" height="57" density="mdpi"> </icon>

<splash src="res/ios/icon.png" platform="ios" width="57" height="57" density="mdpi"> </splash>

</widget>
